.xLCTTime div{
margin:0px;
padding:0px;
float:left;
display:inline;
overflow:hidden;
background:url(images/a.png);
width:12px;
height:25px;	
content:none;
margin-top:5px;
}
.xLCTText{
margin:0px;
padding:0px;
float:left;
display:inline;
overflow:hidden;
background:url(images/text.jpg);
width:131px;
height:11px;	
content:none;
margin-left:6px;
margin-top:10px;
margin-right:40px;
}
.xLCTContent{
margin:0px;
padding:0px;
display:inline-box;
overflow:hidden;
width:144px;
}

.xLCTRadio{
margin:0px;
padding:0px;
margin-top:-20px;
}
.xLCTC{
text-align:center;
}
.xLCTContent{
overflow:hidden;
width:144px;
margin-left:0px;
padding-top:5px;
display:inline-block;
}
