.xLCTTime div{
    margin:0px;
    padding:0px;
    float:left;
    display:inline;
    overflow:hidden;
    background:url(images/a.png);
    width:12px;
    height:25px;
    content:none;
    margin-top:5px;
}
.xLCTText{
    margin:0px;
    padding:0px;
    float:left;
    display:inline;
    overflow:hidden;
    background:url(images/text.jpg);
    width:131px;
    height:11px;
    content:none;
    margin-left:6px;
    margin-top:10px;
    margin-right:40px;
}
.xLCTContent{
    margin:0px;
    padding:0px;
    display:inline-box;
    overflow:hidden;
    width:144px;
}

.xLCTRadio{
    margin:0px;
    padding:0px;
    margin-top:-20px;
}
.xLCTC{
    text-align:center;
}
.xLCTContent{
    overflow:hidden;
    width:144px;
    margin-left:0px;
    padding-top:5px;
    display:inline-block;
}
.xAdminDiv{
    float:left;
    display:inline;
    width:130px;
    height:50px;
    overflow:hidden;

}
.xAdminDiv input, .xAdminDiv select{
    width:110px;
}
.xAdminDivB{
    float:left;
    display:inline;
    width:130px;
    height:50px;
    overflow:hidden;
    padding-top:6px;
}
.xlctPostToService{
    color:#FF0000;

}
#poststuff h2.xCustomCSSB{
    margin-bottom:0px;
    padding-bottom:0px;

}
.live_countdown_timer_LivePreview{
    border:1px solid #CECECE;
    float:left;
    display:inline;
    width:260px;
    overflow:hidden;
    text-align:center;
}
.xLCTTWrapA{
    float:left;
    display:inline;
    overflow:hidden;
    text-align:center;
    padding:3px;
    font-size:10px;
}
.xLCTTWrapA .xLCTTTTopTime{
    font-size:14px;
}
.xLCTTWrapB{
    float:left;
    display:inline;
    overflow:hidden;
    text-align:center;
    padding:3px;
    font-size:14px;
}
.xLCTTWrapB .xLCTTTTopTime{
    font-size:18px;
}
.xLCTTWrapC{
    float:left;
    display:inline;
    overflow:hidden;
    text-align:center;
    padding:3px;
    font-size:18px;
}
.xLCTTWrapC .xLCTTTTopTime{
    font-size:21px;
}
.xLCTBubbleRedWrapC,.xLCTBubbleBlackWrapC,.xLCTBubbleWhiteWrapC,.xLCTBubbleGreenWrapC,.xLCTBubbleDarkGreenWrapC,.xLCTBubbleYellowWrapC{
    float:left;
    display:inline;
    overflow:hidden;
    width:113px;
    height:81px;
    background:url(images/bubbleBigRed.png);
}
.xLCTBubbleBlackWrapC{background:url(images/bubbleBigBlack.png);}
.xLCTBubbleWhiteWrapC{background:url(images/bubbleBigWhite.png);}
.xLCTBubbleGreenWrapC{background:url(images/bubbleBigGreen.png);}
.xLCTBubbleDarkGreenWrapC{background:url(images/bubbleBigDarkGreen.png);}
.xLCTBubbleYellowWrapC{background:url(images/bubbleBigYellow.png);}


.xLCTBubbleRedWrapC .xLCTBubbleTopTime,
.xLCTBubbleBlackWrapC .xLCTBubbleTopTime,
.xLCTBubbleWhiteWrapC .xLCTBubbleTopTime,
.xLCTBubbleGreenWrapC .xLCTBubbleTopTime,
.xLCTBubbleDarkGreenWrapC .xLCTBubbleTopTime,
.xLCTBubbleYellowWrapC .xLCTBubbleTopTime{
    float:left;
    display:inline;
    overflow:hidden;
    font-size:42px;
    width:107px;
    text-align:center;
    margin-top:8px;
    margin-left:3px;
    line-height:42px;
}
.xLCTBubbleRedWrapC .xLCTBubbleTopBottom,
.xLCTBubbleBlackWrapC .xLCTBubbleTopBottom,
.xLCTBubbleWhiteWrapC .xLCTBubbleTopBottom,
.xLCTBubbleGreenWrapC .xLCTBubbleTopBottom,
.xLCTBubbleDarkGreenWrapC .xLCTBubbleTopBottom,
.xLCTBubbleYellowWrapC .xLCTBubbleTopBottom{
    margin-left:3px;
    float:left;
    display:inline;
    overflow:hidden;
    font-size:18px;
    color:#000;
    width:107px;
    margin-top:8px;
    line-height:18px;
    text-align:center;
}
.xLCTBubbleRedWrapB,.xLCTBubbleBlackWrapB,.xLCTBubbleWhiteWrapB,.xLCTBubbleGreenWrapB,.xLCTBubbleDarkGreenWrapB,.xLCTBubbleYellowWrapB{
    float:left;
    display:inline;
    overflow:hidden;
    width:90px;
    height:65px;
    background:url(images/bubbleMediumRed.png);
}
.xLCTBubbleBlackWrapB{background:url(images/bubbleMediumBlack.png);}
.xLCTBubbleWhiteWrapB{background:url(images/bubbleMediumWhite.png);}
.xLCTBubbleGreenWrapB{background:url(images/bubbleMediumGreen.png);}
.xLCTBubbleDarkGreenWrapB{background:url(images/bubbleMediumDarkGreen.png);}
.xLCTBubbleYellowWrapB{background:url(images/bubbleMediumYellow.png);}


.xLCTBubbleRedWrapB .xLCTBubbleTopTime,
.xLCTBubbleBlackWrapB .xLCTBubbleTopTime,
.xLCTBubbleWhiteWrapB .xLCTBubbleTopTime,
.xLCTBubbleGreenWrapB .xLCTBubbleTopTime,
.xLCTBubbleDarkGreenWrapB .xLCTBubbleTopTime,
.xLCTBubbleYellowWrapB .xLCTBubbleTopTime{
    float:left;
    display:inline;
    overflow:hidden;
    font-size:34px;
    width:84px;
    text-align:center;
    margin-top:7px;
    margin-left:3px;
    line-height:34px;
}
.xLCTBubbleRedWrapB .xLCTBubbleTopBottom,
.xLCTBubbleBlackWrapB .xLCTBubbleTopBottom,
.xLCTBubbleWhiteWrapB .xLCTBubbleTopBottom,
.xLCTBubbleGreenWrapB .xLCTBubbleTopBottom,
.xLCTBubbleDarkGreenWrapB .xLCTBubbleTopBottom,
.xLCTBubbleYellowWrapB .xLCTBubbleTopBottom{
    margin-left:3px;
    float:left;
    display:inline;
    overflow:hidden;
    font-size:13px;
    color:#000;
    width:84px;
    margin-top:7px;
    line-height:13px;
    text-align:center;
}
.xLCTBubbleRedWrapA,.xLCTBubbleBlackWrapA,.xLCTBubbleWhiteWrapA,.xLCTBubbleGreenWrapA,.xLCTBubbleDarkGreenWrapA,.xLCTBubbleYellowWrapA{
    float:left;
    display:inline;
    overflow:hidden;
    width:70px;
    height:50px;
    background:url(images/bubbleSmallRed.png);
}
.xLCTBubbleBlackWrapA{background:url(images/bubbleSmallBlack.png);}
.xLCTBubbleWhiteWrapA{background:url(images/bubbleSmallWhite.png);}
.xLCTBubbleGreenWrapA{background:url(images/bubbleSmallGreen.png);}
.xLCTBubbleDarkGreenWrapA{background:url(images/bubbleSmallDarkGreen.png);}
.xLCTBubbleYellowWrapA{background:url(images/bubbleSmallYellow.png);}


.xLCTBubbleRedWrapA .xLCTBubbleTopTime,
.xLCTBubbleBlackWrapA .xLCTBubbleTopTime,
.xLCTBubbleWhiteWrapA .xLCTBubbleTopTime,
.xLCTBubbleGreenWrapA .xLCTBubbleTopTime,
.xLCTBubbleDarkGreenWrapA .xLCTBubbleTopTime,
.xLCTBubbleYellowWrapA .xLCTBubbleTopTime{
    float:left;
    display:inline;
    overflow:hidden;
    font-size:26px;
    width:64px;
    text-align:center;
    margin-top:4px;
    margin-left:3px;
    line-height:26px;
}
.xLCTBubbleRedWrapA .xLCTBubbleTopBottom,
.xLCTBubbleBlackWrapA .xLCTBubbleTopBottom,
.xLCTBubbleWhiteWrapA .xLCTBubbleTopBottom,
.xLCTBubbleGreenWrapA .xLCTBubbleTopBottom,
.xLCTBubbleDarkGreenWrapA .xLCTBubbleTopBottom,
.xLCTBubbleYellowWrapA .xLCTBubbleTopBottom{
    margin-left:3px;
    float:left;
    display:inline;
    overflow:hidden;
    font-size:10px;
    color:#000;
    width:64px;
    margin-top:7px;
    line-height:10px;
    text-align:center;
}
.xLCTDelimiter{
    float:left;
    display:inline;
    overflow:hidden;
    width:260px;
    height:10px;
}
.xLCTFullWidth{
    float:left;
    display:inline;
    overflow:hidden;
    width:800px;
}

#LCTimerWidget_Counter{
    position:relative;
    overflow:hidden;
    margin:0px;
    padding:0px;
    width:100%;
    height:auto;
}
.LCTimerWidget_Counter{
    margin:0px;
    overflow:hidden;
    display:inline;
    
    width:100%;
    
    left:0px;
    top:0px;
    float:left;
    margin:0px;
}